<h1>Computer Science Club</h1>
<p>The Roane State Community College Computer Science Club is an organization dedicated to bringing together computer science enthusiasts at RSCC to share their knowledges in computer science. The club is a social network in computer science-related tutorials, news, technologies, job opportunities, and seminars. You are welcome to join the club!</p>