<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Posted Articles</h1>
    <p>This is a list of posted articles.</p>
    <p><%= link_to "Sign Up to Post", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>


  <% @posts.each do |post| %>
  <div class="row">
    <div class="col-sm-6 col-md-9">
      <div class="post_wrapper">
        <h2 class="title"><%= link_to post.title, post %></h2>
        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
      </div>
    </div>
  </div>
  <% end %>

